# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/
ENV/
env/

# Environment variables
.env

# Streamlit cache (agar use karte ho)
.streamlit/

# Logs and temporary files
*.log
*.tmp
*.swp

# OS specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Data folder (ignore if you don't want to push datasets)
data/*
!data/index.faiss
!data/chunks.json

# Streamlit cache (agar use karte ho)
.streamlit/
